.intro {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.intro h2 {
  font-size: 1.2rem;
  color: #0081cb;
  overflow: hidden;
  font-weight: bold;
  height: 85px;
  width: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 8px 0 8px;
}

@media only screen and (max-width: 640px) {
  .intro h2 {
    font-size: 1rem;
  }
}

.intro__banner {
  color: white;
  object-fit: contain;
  position: relative;
  
}

.intro__contents {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.intro__title {
  font-size: 1rem;
  font-weight: 800;
  padding-top: 10px;
  margin-left: 20px;
  color:#212121;
}

.intro__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}
.intro__buttons {
  padding-top: 12px;
  padding-bottom: 16px;
  padding-right:10px;
  margin-left: 20px;
  margin-top:20px;
}

.intro__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  width: 15vw;
}

.intro__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.4s;
}

.intro__Fade__Bottom {
  height: 3.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #262626
  );
  /* background-image: linear-gradient(to right, #262626, #3b3b8a); */
}
