.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  height: 50px;
  margin-top: 30px;
  z-index: 100;
  /***Animation**/
  transition-timing-function: ease-in;
  transition: all 0.8s;
}

.nav__original {
  margin-top: 0px !important;
}

.nav__contents {
  display: flex;
  gap:5px;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  left: 0;
  top: 40px;
  padding-left: 20px;
  padding-top: 4px;
  width: 90px;
  object-fit: contain;
  cursor: pointer;
}
.nav__logo__original {
  top: 10px !important;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
  cursor: pointer;
}

.nav__continue__with__google {
  position: fixed !important;
  right: 20px !important;
  width: 130px !important;
  object-fit: contain !important;
  cursor: pointer !important;
}
.nav__contents > div > button > img {
  right: 20px !important;
  width: 130px !important;
  object-fit: contain !important;
  cursor: pointer !important;
}

.nav__button {
  outline: none;
  position: fixed;
  right: 80px;
  padding: 8px 20px;
  font-size: 1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  background: #e50914;
  font-weight: 500;
}
.nav__button__sm {
  outline: none;
  right: 160px;
  padding: 6px 10px;
  font-size: 0.8rem;
  color: #fff;
  border: none;
  cursor: pointer;
  background: #5271ff;
  font-weight: 500;
}

.hidden {
  display: none !important;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px solid lightgray;
  padding-left: 10px;;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  width: 100%;
  z-index: 999;
}
.header__left {
  display: flex;
  gap:8px;
  margin-left: 5px;;
}
.header__left > img {
  object-fit: contain;
  height: 40px;
  width: 80px;
  margin-right: 10px;
}
.header__search {
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 5px;
  height: 40px;
  width:40vw;
  color: gray;
  background-color: #eef3f8;
}
.header__search > input {
  outline: none;
  border: none;
  background: none;
  width: 35vw;
}
.header__right {
  display: flex;
}
 

