

.profile__completion__detail__graph {
 justify-content: center;
 margin:3%;
 display: flex;
 padding-right:10px;
 zoom:0.5;
 place-content: center;
 place-items: center;
 text-align: center;
}
.profile__completion__detail__guidance__text{
  font-size: 0.7rem!important;
  padding: 6px;;
  color:#111;
  font-weight: 400;
 text-align: left!important
}
.profile__completion__detail__explanation__text{
  font-size: 0.8rem!important;
  padding: 6px !important;
  text-align: justify;
  font-weight: 400!important;
}

.profile__completion__detail__header__text{
  font-size: 0.8rem!important;
  font-weight: bold !important;
  padding-bottom:5px;
  border-bottom: 1px solid #e2e2e2;
  
}
.profile__completion__detail__suggestion__icon{
  cursor: pointer!important;
align-items: center!important;
}
 
.profile__completion__detail__suggestions{
  display: flex !important;
  flex-direction: column !important;
}
 
