.search {
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    height: 40px;
    color: gray;
    background-color: #eef3f8;
  }
  .search > input {
    outline: none;
    border: none;
    background: none;
    width: 40vw;
  }

  @media screen and (max-width: 780px) {
    .search > input {
     width:38vw;
    }
  }

  @media screen and (max-width: 1084px) {
    .search > input {
     width:36vw;
    }
  }